<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fatshen3</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>15088781-1F46-4A25-8125-3C83307A5A0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D91CC363-21EF-4927-8EA0-856A0BBFA7B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAEF6DF3-31D4-4CD5-9F53-B14FC2F1EFC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC041392-83BF-4F83-B908-345AB5479ED7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E77F403F-0707-4759-B8EA-A4498E9337C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03B7A82B-D200-48AA-9376-D92C5D87053F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AAEF6DF3-31D4-4CD5-9F53-B14FC2F1EFC5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>1{diy}</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>FatShen3</string>
	<key>description</key>
	<string>tools for coder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Coding Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>03B7A82B-D200-48AA-9376-D92C5D87053F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在翻译...</string>
				<key>script</key>
				<string>query="{query}"

python index.py fanyi $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>请输入翻译内容</string>
				<key>title</key>
				<string>百度翻译</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E77F403F-0707-4759-B8EA-A4498E9337C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
say $query -v Samantha</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EC041392-83BF-4F83-B908-345AB5479ED7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^.*\/(.*)</string>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>AAEF6DF3-31D4-4CD5-9F53-B14FC2F1EFC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D91CC363-21EF-4927-8EA0-856A0BBFA7B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>en</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>encoding...</string>
				<key>script</key>
				<string>query="{query}"

python index.py encode $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>请输入编码方式和内容, 如md5</string>
				<key>title</key>
				<string>编码</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>15088781-1F46-4A25-8125-3C83307A5A0B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03B7A82B-D200-48AA-9376-D92C5D87053F</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>15088781-1F46-4A25-8125-3C83307A5A0B</key>
		<dict>
			<key>note</key>
			<string>各种编码</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>AAEF6DF3-31D4-4CD5-9F53-B14FC2F1EFC5</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>D91CC363-21EF-4927-8EA0-856A0BBFA7B8</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>E77F403F-0707-4759-B8EA-A4498E9337C5</key>
		<dict>
			<key>note</key>
			<string>翻译</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>EC041392-83BF-4F83-B908-345AB5479ED7</key>
		<dict>
			<key>note</key>
			<string>mac本地发音</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/FatShen3/alfred-workflows</string>
</dict>
</plist>
